In [30]:
import pandas as pd

order_table = pd.read_table("season_1/training_data/order_data/order_data_2016-01-01", names=['order_id', 'driver_id', 
               'passenger_id', 'depart_id', 'dest_id', 'price', 'time'], parse_dates=[6])

In [57]:
import numpy as np
import datetime

time_slot = np.zeros((order_table.shape[0],),np.int)
jour = np.zeros((order_table.shape[0],), datetime.date)
for i, t in enumerate(order_table['time']):
    time_slot[i] = t.time().hour*6+t.time().minute/10
    jour[i] = t.date()

In [58]:
order_table['time_slot']=time_slot
order_table['jour']=jour

In [51]:
t.date().day

1

In [47]:
region_table = pd.read_table("season_1/training_data/cluster_map/cluster_map", index_col=0, names=['hash', 'id'])

In [14]:
type(Out[13])

pandas.core.series.Series

In [15]:
region_table.loc['f2c8c4bb99e6377d21de71275afd6cd2', 'id']

2

In [18]:
order_table.shape

(501287, 9)

In [32]:
order_table['depart_id'] = order_table['depart_id'].apply(lambda x: region_table.ix[x, 'id'])

In [60]:
rst = order_table.groupby(by=['jour', 'depart_id', 'time_slot']).size()

In [47]:
import numpy as np

valid_table = order_table[pd.notnull(order_table['driver_id'])]

In [49]:
valid_table.groupby(by=['depart_id', 'time_slot']).size()

depart_id  time_slot
1          0            178
           1            191
           2            182
           3            167
           4            152
           5            131
           6            127
           7            128
           8            114
           9            105
           10            70
           11            70
           12            60
           13            67
           14            56
           15            73
           16            53
           17            47
           18            50
           19            40
           20            39
           21            31
           22            37
           23            22
           24            17
           25            23
           26            24
           27            16
           28            17
           29            12
                       ...
66         114           11
           115           17
           116           16
           117           13
           118           22
           119           20
           120           21
           121           17
           122           18
           123           16
           124           17
           125           15
           126           12
           127           15
           128           19
           129           10
           130            5
           131            7
           132            8
           133            9
           134            5
           135           11
           136            9
           137            7
           138            2
           139            5
           140            4
           141           10
           142            6
           143            9
dtype: int64

In [49]:


order_table_list = []
for d in datelist:
    order_table = pd.read_table("season_1/training_data/order_data/order_data_"+d.isoformat(), 
                                names=['order_id', 'driver_id', 'passenger_id', 'depart_id', 'dest_id', 'price', 'time'], 
                                parse_dates=[6])
    time_slot = np.zeros((order_table.shape[0],),np.int)
    jour = np.zeros((order_table.shape[0],), date)
    for i, t in enumerate(order_table['time']):
        time_slot[i] = t.time().hour*6+t.time().minute/10
        jour[i] = t.date()
    order_table['time_slot']=time_slot
    order_table['jour']=jour
    order_table['depart_id'] = order_table['depart_id'].apply(lambda x: region_table.ix[x, 'id'])
    order_table_list.append(order_table)

In [53]:
order_table = pd.concat(order_table_list).loc[:,['jour', 'depart_id', 'time_slot', 'order_id', 'driver_id']]

In [55]:
f = order_table.groupby(by=['jour', 'depart_id', 'time_slot'], as_index=False).count()

In [9]:
import pandas as pd
from datetime import date, timedelta

startdate = date(2016, 1 ,1)
datelist = [startdate+timedelta(days=i) for i in xrange(0,21)]

In [10]:
import numpy as np


weatherlist = []
for d in datelist:
    weather = pd.read_table("season_1/training_data/weather_data/weather_data_"+d.isoformat(), 
                            names=['time','weather','temperature','pm'], parse_dates=[0])
    time_slot = np.zeros((weather.shape[0],),np.int)
    jour = np.zeros((weather.shape[0],), date)
    for i, t in enumerate(weather['time']):
        time_slot[i] = t.time().hour*6+t.time().minute/10
        jour[i] = t.date()
    weather['slot'] = time_slot
    weather['jour'] = jour
    weatherlist.append(weather)

In [44]:
weather_feature = np.zeros((21*144, 9), dtype = np.float)
grouped_weatherlist = pd.concat(weatherlist).groupby(['jour', 'slot'])
for i in xrange(21):
    for j in xrange(144):
        try:
            rec = grouped_weatherlist.get_group((date(2016,1, 1+i), j))
            for k in xrange(rec.shape[0]):
                weather_feature[i*144+j, rec.iloc[k,1]-1] += 1.0/rec.shape[0]
        except KeyError:
            continue;

In [45]:
b = -1
for e in xrange(weather_feature.shape[0]+1):
    if e==weather_feature.shape[0] or not np.all(weather_feature[e,:]==0.0):
        if e==weather_feature.shape[0]:
            if b!=e-1:
                for i in xrange(b+1, e):
                    weather_feature[i, :] = weather_feature[b, :]
            else:
                break;

        if not np.all(weather_feature[e,:]==0.0) and b!=e-1:
            r = e-b+0.0
            for i in xrange(b+1, e):
                weather_feature[i, :] = (e-i)/r*weather_feature[b, :] + (i-b)/r*weather_feature[e, :]
        elif b==-1 and b!=e-1:
            for i in xrange(b+1, e):
                weather_feature[i, :] = weather_feature[e, :]
        b=e

In [56]:
f

              jour  depart_id  time_slot  order_id  driver_id
0       2016-01-01          1          0       187        178
1       2016-01-01          1          1       198        191
2       2016-01-01          1          2       192        182
3       2016-01-01          1          3       172        167
4       2016-01-01          1          4       153        152
5       2016-01-01          1          5       132        131
6       2016-01-01          1          6       133        127
7       2016-01-01          1          7       130        128
8       2016-01-01          1          8       120        114
9       2016-01-01          1          9       111        105
10      2016-01-01          1         10        72         70
11      2016-01-01          1         11        73         70
12      2016-01-01          1         12        61         60
13      2016-01-01          1         13        71         67
14      2016-01-01          1         14        59         56
15      2016-01-01          1         15        84         73
16      2016-01-01          1         16        73         53
17      2016-01-01          1         17        65         47
18      2016-01-01          1         18        61         50
19      2016-01-01          1         19        46         40
20      2016-01-01          1         20        41         39
21      2016-01-01          1         21        32         31
22      2016-01-01          1         22        40         37
23      2016-01-01          1         23        30         22
24      2016-01-01          1         24        18         17
25      2016-01-01          1         25        24         23
26      2016-01-01          1         26        29         24
27      2016-01-01          1         27        16         16
28      2016-01-01          1         28        21         17
29      2016-01-01          1         29        25         12
...            ...        ...        ...       ...        ...
163461  2016-01-21         66        114        19         19
163462  2016-01-21         66        115        12         12
163463  2016-01-21         66        116        16         16
163464  2016-01-21         66        117        27         27
163465  2016-01-21         66        118        14         14
163466  2016-01-21         66        119        16         16
163467  2016-01-21         66        120        11         11
163468  2016-01-21         66        121        10         10
163469  2016-01-21         66        122        17         17
163470  2016-01-21         66        123        13         12
163471  2016-01-21         66        124        13         11
163472  2016-01-21         66        125        13         13
163473  2016-01-21         66        126        10          9
163474  2016-01-21         66        127        12         11
163475  2016-01-21         66        128        10         10
163476  2016-01-21         66        129         9          9
163477  2016-01-21         66        130         9          9
163478  2016-01-21         66        131        10          9
163479  2016-01-21         66        132         7          7
163480  2016-01-21         66        133        11         11
163481  2016-01-21         66        134        10         10
163482  2016-01-21         66        135        14         13
163483  2016-01-21         66        136         9          9
163484  2016-01-21         66        137        12          8
163485  2016-01-21         66        138        11         10
163486  2016-01-21         66        139         5          5
163487  2016-01-21         66        140         4          4
163488  2016-01-21         66        141         6          6
163489  2016-01-21         66        142         7          6
163490  2016-01-21         66        143         5          5

[163491 rows x 5 columns]

In [64]:
gf = f.groupby(['jour', 'depart_id', 'time_slot'])

In [63]:
f.ix[0, 'jour']<f.ix[160000, 'jour']

True

In [59]:
flst = []
# generate time feature
for i in xrange(f.shape[0]):
    x = [(f.ix[i, 'time_slot'], 1), (144+f.ix[i, 'time_slot']/6, 1), (168+f.ix[i, 'jour'].weekday()/5, 1)]
    flst.append(x)

In [62]:
# generate region feature
for i in xrange(f.shape[0]):
    flst[i].append((170+f.ix[i, 'depart_id']-1, 1))

In [ ]:
# generate customer feature
for i in xrange(f.shape[0])